# <img style="float: left; padding-right: 10px; width: 150px" src="../../_UNITBV_ADS_2019/unitbv2.png"> SIIPA2020- Știința Explorării și Exploatării Datelor - ADS1  






## <center>Laborator 2: Lucrul cu dataframe-uri. Vizualizarea datelor. Corelatii.</center>
**Universitatea Transilvania**<br>
**Semestrul I, 2020-2021**<br>
**Instructor:** Conf. univ. dr. Teodor &Scedil;tefan B&icirc;ldea<br>
**Contact:** teodor.bildea@unitbv.ro<br>

### Cuprins
0. Recapitulare laborator 1
1. Citirea fisierelor din seturile repartizate
2. Combinarea mai multor dataframe-uri
3. Vizualizarea datelor: matplotlib, plotly

# 0. Recapitulare laborator 1

Importuri necesare

In [1]:
# libraria pentru lucrul tabelar
import pandas as pd

# libraria pentru functii matematice
import numpy as np

## tipuri de date

>1 .csv
- se foloseste metoda pandas `read_csv` pt citirea unui fisier .csv
- daca sunt mai multe se citesc pe rand, si din documentatie se afla cheile/id-uri pe care le putem folosi pentru a crea un singur tabel mare in urma unei secvente de instructiuni 'merge' despre care vom vorbi mai jos

>2 .xlsx
- se foloseste metoda pandas `read_excel` si se specifica cel putin worksheetul

>3 Alte formate de date: sqlite
- se foloseste libraria `sqlite3` - este un import mai special, vom vedea mai jos detalii

# Niste configurari

In [12]:
# calea catre seturile de date
input_path = r'C:\work\UNITBV_DataMining\2020-2021\SEED_ADS\Curs\Echipe\DateProiecte'
input_path

'C:\\work\\UNITBV_DataMining\\2020-2021\\SEED_ADS\\Curs\\Echipe\\DateProiecte'

## Citirea pentru datele unei echipe

Va trebui sa schimbati variabila 

`input_path`

catre calea voastra.

Definim o functie pentru cititul datelor pentru diferitele tipuri de date intalnite in proiecte.

## Date tip .csv

Pentru proiectele cu mai multe fisiere cautam prima data fisierele si construim dictionare de dataframe-uri.

Cele mai multe fisiere le are echipa 1:

In [25]:
import glob

path = input_path +"\\Echipa1\\*.csv"

dict_df = {}
for fname in glob.glob(path):
    #print(fname)
    try:
        # citire fisier csv si adaugare in dictionar cu cheia = nume fara cale si terminatie
        dict_df[fname.replace(input_path +"\\Echipa1\\","").replace(".csv","")] = \
                            pd.read_csv(fname)
    
     except:
        print('eroare la citire fisier {0}', fname)

    
# verificam citirea
for key in dict_df.keys():
    print(key, dict_df[key].shape)

audi (10668, 9)
bmw (10781, 9)
cclass (3899, 7)
focus (5454, 7)
ford (17965, 9)
hyundi (4860, 9)
merc (13119, 9)
skoda (6267, 9)
toyota (6738, 9)
unclean cclass (4006, 11)
unclean focus (5604, 11)
vauxhall (13632, 9)
vw (15157, 9)

## Date tip .xlsx

La echipa 5 am vazut fisier de tip xlsx. Pastrez structura de mai sus in caz ca ar putea fi mai multe fisiere input in format xlsx.

In [33]:
import glob
path = input_path +"\\Echipa5\\*.xlsx"

dict_df = {}
for fname in glob.glob(path):
    #print(fname)
    try:
        # citire fisier csv si adaugare in dictionar cu cheia = nume fara cale si terminatie
        dict_df[fname.replace(input_path +"\\Echipa5\\","").replace(".csv","")] = \
                            pd.read_excel(fname, sheet_name = "Sheet1")
    
    except:
        print('eroare la citire fisier {0}', fname)

    
# verificam citirea
for key in dict_df.keys():
    print(key, dict_df[key].shape)

Kaggle_Sirio_Libanes_ICU_Prediction.xlsx (1925, 231)

## Date tip sqlite3

Echipa 6 are un statut aparte: format sqlite. In caz ca nu ati rezolvat inca citirea:

In [26]:
import sqlite3

# conectarea la db
conn = sqlite3.connect(input_path + "/Echipa6/database.sqlite")

# numele tabelelor
df_tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;", conn)
display(df_tables)

# lista cu dataframe-uri
dataframes = {}
for _,row in df_tables.iterrows():

    print('extragere date tabel ', row[0])

    df_temp = pd.read_sql_query("SELECT * FROM " + row[0], conn)

    dataframes[row[0]] = df_temp

                name
0            Country
1             League
2              Match
3             Player
4  Player_Attributes
5               Team
6    Team_Attributes
7    sqlite_sequence

extragere date tabel  Country
extragere date tabel  League
extragere date tabel  Match
extragere date tabel  Player
extragere date tabel  Player_Attributes
extragere date tabel  Team
extragere date tabel  Team_Attributes
extragere date tabel  sqlite_sequence

## Date in format .json

Veti intalni adesea acest format, a devenit foarte popular. Echipa 7 are un fisier in format json, probabil identic cu cel in format csv. Din am lasat partea de cod care se uita dupa toate fisierele json pentru a limita personalizarea la datele echipei 7.

In [35]:
import json
import glob

    
path = input_path +"\\Echipa7\\*.json"

dict_df = {}
for fname in glob.glob(path):
    #print(fname)
    try:
        # citire fisier csv si adaugare in dictionar cu cheia = nume fara cale si terminatie
        dict_df[fname.replace(input_path +"\\Echipa5\\","").replace(".csv","")] = \
                            pd.read_json(fname)
    
    except:
        print('eroare la citire fisier {0}', fname)

    
# verificam citirea
for key in dict_df.keys():
    print(key, dict_df[key].shape)

C:\work\UNITBV_DataMining\2020-2021\SEED_ADS\Curs\Echipe\DateProiecte\Echipa7\winemag-data-130k-v2.json (129971, 13)

### Exercitiul 1:

Pentru toate tabelele din proiect, listati:
    - structura
    - tipurile de date ale coloanelor
    - statistica pentru coloanele numerice
    - pentru restul coloanelor listati valorile distincte
    - pentru toate coloanele raport cu valorile lipsa si procentul de valori bune (coverage_pct)

# Operatii cu un dataframe

Tipul datelor

Numar de linii si de coloane

Date lipsa

Statistica pentru datele numerice

Puteti folosi pandas profiling, dar pentru a reusi pe date mari evitati calcularea corelatiilor ca in exemplul de mai jos:

In [ ]:
import pandas_profiling as prof
a = prof.ProfileReport(df, check_correlation=False)

Numele coloanelor

## Operatii cu linii

Filtrare/Selectare conditionata

Selectarea unei linii prin numar de referinta

# Operatii cu coloane

Selectarea unei coloane

Selectarea mai multor coloane

Redenumirea coloanelor

Stergerea unei coloane sau a unei liste de coloane

# Lucrul cu mai multe dataframe-uri in pandas

## Metode de combinare:

Concatenare

Join/Merge
- intern
- extern
    -extern pe stanga
    -extern pe dreapta

# Concatenarea unei liste de dataframe-uri

Se poate face indiferent de structura, insa mare atentie:

- daca toate dataframe-urile au acelasi header, adica aceleasi coloane, rezultatul este reuniunea seturilor de date

- daca structura este diferita, atunci la final dataframe-ul rezultat are ca si coloane reuniunea tuturor coloanelor ce apartin dataframe-urilor din lista; acolo unde pentru un dataframe din lista lipsea o coloana din cele de la final, se va umple cu None (valoare lipsa)

NOTA:
Nu intotdeauna operatia de mai sus este dorita.

# Exemplul 1 - concat

In [47]:
# constructie de data frame din lista de dictionare cu aceeasi structura

lst1 = [{'c1':i,'c2':10*i,'c3':2*i+1} for i in range(5)]
lst2 = [{'c1':i,'c3':10*i,'c2':2*(i-10)+1} for i in range(10,15)]
lst3 = [{'c1':i,'c2':100*i} for i in range(5)]
lst4 = [{'c1':i,'c4':7*i} for i in range(5)]

df1 = pd.DataFrame(lst1)
df2 = pd.DataFrame(lst2)
df3 = pd.DataFrame(lst3)
df4 = pd.DataFrame(lst4)

df_12 = pd.concat([df1,df2],sort = False)
display(df_12)

#....

   c1  c2   c3
0   0   0    1
1   1  10    3
2   2  20    5
3   3  30    7
4   4  40    9
0  10   1  100
1  11   3  110
2  12   5  120
3  13   7  130
4  14   9  140

## Poll time:

Ce va asteptati sa se intample la concatenarea df2,df3? dar la df3 & df4?

## Merge - echivalentul lui "JOIN" din SQL 

Parametrii uzuali:

- `on`: lista  cu numele coloanelor in cazul in care au aceleasi nume in ambele dataframerui
- `left_on`, `right_on`: numele cheilor pe care se face operatia cand nu sunt la fel
- `how`: tipul operatiei - inner, right, left sau outer sunt valori posibile, similare cu operatiile din SQL

In [51]:
df34_merge = df3.merge(df4, on = ['c1'], how = 'inner')
display(df34_merge)

   c1   c2  c4
0   0    0   0
1   1  100   7
2   2  200  14
3   3  300  21
4   4  400  28

In [ ]:
# merge df1 & df2 lefton, righton - change df2 to have results